
@{
    ViewBag.Title = "XacNhanDonhang";
    Layout = "~/Views/Shared/_Mainlayout.cshtml";
}

<h2>Đơn hàng đã được xác nhận</h2>
<h3>Chúng tôi sẽ giao hàng cho bạn sớm nhất có thể !</h3>
<p>
    @Html.ActionLink("Về trang chủ", "Index", "Home")
</p>